	<% include partials/_head %>

		<h1>DateMatch</h1>
				<h2>Register</h2>
				<form action="/user" method="POST">
					<h4>User name</h4><br>
					<input type="text" name="username" /><br>
					<h4>E-mail</h4><br>
					<input type="email" name="email" /><br>
					<h4>Password</h4><br>
					<input type="text" name="password" /><br>
					<button type="submit" name="button">Register</button>
				</form>
				<h5>Already registered?</h5>
				<a href="/auth/login">Login</a>


<% include partials/_footer %>
