<!DOCTYPE html>
<html>
<head>
	<title> no more dates</title>
</head>
<body>	
	<p> no available matches</p>

	<a href="/user/<%= user._id%>/looking"> edit your preferences </a>

	<a href="/user/<%= user._id%>/my-matches"> view my matches </a>
</body>
</html>