<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project2 | Preferences</title>
  </head>

</html>
  <body>


  	  <%= message %>


    <h1>Login</h1>
      <form action="/auth/login" method="POST">
        <h4>username</h4><br>
        <input type="text" name="username"><br>
        <h4>Password</h4><br>
  			<input type="text" name="password" /><br>
        <button type="submit" name="button">Login</button>
  </body>
</html>
