<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project2 | Preferences</title>
  </head>
  <body>
    <h1>Login</h1>
  </body>
</html>
<body>
	<form action="/user/preferences/<%= user.id %>?_method=PUT" method="POST">
		<input type="checkbox" name="preferredDates" value="dinner"> dinner <br>
		<input type="checkbox" name="preferredDates" value="movie"> movie <br>		
		<input type="checkbox" name="preferredDates" value="hiking"> hiking <br>		
		<input type="checkbox" name="preferredDates" value="shopping"> shopping <br>		

		<button input="submit">Ready? </button>
		
	</form>
</body>
</html>
