<% include ../partials/_head %>
<% include ../partials/_header %>

	<p> People you want to search for </p>
	<form action="/user/looking/<%= user.id %>?_method=PUT" method="POST">



		<p>Age Range</p>
		Min Age <input type="number" name="minAge"> <br>
		Max age <input type="number" name="maxAge">
		<p> What are you looking for? </p>
		<select name="preferredGender">
			<option value="male"> Male </option>
			<option value="female"> Female </option>
			<option value="?"> ? </option>
		</select>



		<button input="submit"> Ready? </button>

	</form>

<% include ../partials/_footer %>
