<!DOCTYPE html>
<html>
<head>
	<title> Searching </title>
</head>
<body>
	<p> People you want to search for </p>
	<form action="/user/looking/<%= user.id %>?_method=PUT" method="POST">



		<p>Age Range</p>
		Min Age <input type="number" name="age"> <br>
		Max age <input type="number" name="age">
		<p> What are you looking for? </p>
		<select name="gender">
			<option value="male"> Male </option>
			<option value="female"> Female </option>
			<option value="?"> ? </option>
		</select>

			

		<button input="submit"> <a href="/">Ready?</a> </button>
		
	</form>
</body>
</html>