<!DOCTYPE html>
<html>
<head>
	<title> Preferences </title>
</head>
<body>
	<form action="/user/<%= user.id %>?_method=PUT" method="POST">
		<input type="checkbox" name="preferredDates" value="dinner"> dinner <br>
		<input type="checkbox" name="preferredDates" value="movie"> movie <br>		
		<input type="checkbox" name="preferredDates" value="hiking"> hiking <br>		
		<input type="checkbox" name="preferredDates" value="shopping"> shopping <br>		

		<button input="submit"> <a href="/user/<%= user.id%>/looking">Ready?</a> </button>
		
	</form>
</body>
</html>